In [54]:
import requests

In [55]:
import pandas as pd

In [1]:
!pip install requests beautifulsoup4

Requirement already satisfied: requests in c:\users\verus\anaconda3\lib\site-packages (2.31.0)
Requirement already satisfied: beautifulsoup4 in c:\users\verus\anaconda3\lib\site-packages (4.12.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\verus\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\verus\anaconda3\lib\site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\verus\anaconda3\lib\site-packages (from requests) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\verus\anaconda3\lib\site-packages (from requests) (2023.7.22)
Requirement already satisfied: soupsieve>1.2 in c:\users\verus\anaconda3\lib\site-packages (from beautifulsoup4) (2.4)

In [103]:
state = 'PR'
country = 'US'

In [121]:
url = f'https://npiregistry.cms.hhs.gov/api/?version=2.1&state={state}&country_code={country}&first_name={first_name}'
response = requests.get(url)

# Check if the request was successful
if response.status_code == 200:
    # Parse the response
    data = response.json()

    # Convert the data to a DataFrame
    df = pd.DataFrame(data['results'])

    # Print the DataFrame
    print(df)
else:
    print(f'Request failed with status code {response.status_code}')

   created_epoch enumeration_type last_updated_epoch      number  \
0  1510690688000            NPI-1      1510690688000  1740793686
1  1697574663000            NPI-1      1699027701000  1992587604

                                           addresses practiceLocations  \
0  [{'country_code': 'US', 'country_name': 'Unite...                []
1  [{'country_code': 'US', 'country_name': 'Unite...                []

                                               basic  \
0  {'first_name': 'KARYNA', 'last_name': 'CRUZ', ...
1  {'first_name': 'KARYNA', 'last_name': 'SOTO-RO...

                                          taxonomies identifiers endpoints  \
0  [{'code': '163W00000X', 'taxonomy_group': '', ...          []        []
1  [{'code': '390200000X', 'taxonomy_group': '', ...          []        []

  other_names
0          []
1          []

In [123]:
# Define the state, country, and additional search criteria
state = 'PR'  # Use the 2-letter postal abbreviation for states
country = 'US'  # Use the 2-letter country code
first_name = 'Karyna'  # Use a wildcard to match any postal code starting with '00'

# Add the search criteria to the URL
url = 'https://npiregistry.cms.hhs.gov/api/?number=&enumeration_type=&taxonomy_description=&name_purpose=&first_name=&use_first_name_alias=&last_name=&organization_name=&address_purpose=&city=&state=PR&postal_code=00*&country_code=US&limit=&skip=&pretty=&version=2.1'

# Send a request to the API
response = requests.get(url)

# Check if the request was successful
if response.status_code == 200:
    # Parse the response
    data = response.json()

    # Convert the data to a DataFrame
    Karyna = pd.DataFrame(data['results'])

else:
    print(f'Request failed with status code {response.status_code}')

Karyna

,created_epoch,enumeration_type,last_updated_epoch,number,addresses,practiceLocations,basic,taxonomies,identifiers,endpoints,other_names
0,1466646913000,NPI-2,1466646913000,1518318344,"[{'country_code': 'US', 'country_name': 'Unite...",[],"{'organization_name': '""HORMONES"" ENDOCRINOLOG...","[{'code': '261QM2500X', 'taxonomy_group': '', ...",[],[],[]
1,1244728890000,NPI-2,1244728890000,1598992042,"[{'country_code': 'US', 'country_name': 'Unite...",[],"{'organization_name': '""LA PAZ PHARMACY INC""',...","[{'code': '183500000X', 'taxonomy_group': '193...",[],[],[]
2,1300984979000,NPI-2,1300984979000,1457650855,"[{'country_code': 'US', 'country_name': 'Unite...",[],{'organization_name': '1 CARDIOVASCULAR DIAGNO...,"[{'code': '291U00000X', 'taxonomy_group': '', ...",[],[],[]
3,1672349331000,NPI-2,1672349331000,1801509369,"[{'country_code': 'US', 'country_name': 'Unite...",[],{'organization_name': '100 PORCIENTO BIENESTAR...,"[{'code': '133N00000X', 'taxonomy_group': '193...",[],[],[]
4,1271175888000,NPI-2,1271175888000,1255657458,"[{'country_code': 'US', 'country_name': 'Unite...",[],"{'organization_name': '20/20 EYE VISION', 'org...","[{'code': '332H00000X', 'taxonomy_group': '', ...",[],[],[]
5,1594993207000,NPI-2,1594993207000,1376151167,"[{'country_code': 'US', 'country_name': 'Unite...",[],"{'organization_name': '20/20 OPTICAL, JEIRA IN...","[{'code': '152W00000X', 'taxonomy_group': '193...",[],[],[{'organization_name': '20-20 OPTICAL JEIRA IN...
6,1659363852000,NPI-2,1659363852000,1043946023,"[{'country_code': 'US', 'country_name': 'Unite...",[],"{'organization_name': '20/20 OPTICAL, JEIRA IN...","[{'code': '152W00000X', 'taxonomy_group': '193...",[],[],[{'organization_name': '20-20 OPTICAL JEIRA IN...
7,1296856264000,NPI-2,1296856264000,1215233424,"[{'country_code': 'US', 'country_name': 'Unite...",[],"{'organization_name': '20/20 OPTICAL,JEIRA INC...","[{'code': '152W00000X', 'taxonomy_group': '193...",[],[],[]
8,1251299355000,NPI-2,1251299355000,1679706519,"[{'country_code': 'US', 'country_name': 'Unite...",[],"{'organization_name': '20/20 VISION', 'organiz...","[{'code': '332H00000X', 'taxonomy_group': '', ...",[],[],[]
9,1252936362000,NPI-2,1252936362000,1164755898,"[{'country_code': 'US', 'country_name': 'Unite...",[],{'organization_name': '24-7 MEDICAL TRANSPORT ...,"[{'code': '3416L0300X', 'taxonomy_group': '', ...",[],[],[]

In [118]:
# Define the state, country, and additional search criteria
state = 'PR'  # Use the 2-letter postal abbreviation for states
country = 'US'  # Use the 2-letter country code
postal_code = '00*'  # Use a wildcard to match any postal code starting with '00'

# Add the search criteria to the URL
url = 'https://npiregistry.cms.hhs.gov/api/?number=&enumeration_type=&taxonomy_description=&name_purpose=&first_name=&use_first_name_alias=&last_name=&organization_name=&address_purpose=&city=&state=PR&postal_code=00*&country_code=US&limit=&skip=&pretty=&version=2.1'

# Send a request to the API
response = requests.get(url)

# Check if the request was successful
if response.status_code == 200:
    # Parse the response
    data = response.json()

    # Convert the data to a DataFrame
    df = pd.DataFrame(data['results'])

    # Print the DataFrame
    print(df)
else:
    print(f'Request failed with status code {response.status_code}')

   created_epoch enumeration_type last_updated_epoch      number  \
0  1466646913000            NPI-2      1466646913000  1518318344
1  1244728890000            NPI-2      1244728890000  1598992042
2  1300984979000            NPI-2      1300984979000  1457650855
3  1672349331000            NPI-2      1672349331000  1801509369
4  1271175888000            NPI-2      1271175888000  1255657458
5  1594993207000            NPI-2      1594993207000  1376151167
6  1659363852000            NPI-2      1659363852000  1043946023
7  1296856264000            NPI-2      1296856264000  1215233424
8  1251299355000            NPI-2      1251299355000  1679706519
9  1252936362000            NPI-2      1252936362000  1164755898

                                           addresses practiceLocations  \
0  [{'country_code': 'US', 'country_name': 'Unite...                []
1  [{'country_code': 'US', 'country_name': 'Unite...                []
2  [{'country_code': 'US', 'country_name': 'Unite...                []
3  [{'country_code': 'US', 'country_name': 'Unite...                []
4  [{'country_code': 'US', 'country_name': 'Unite...                []
5  [{'country_code': 'US', 'country_name': 'Unite...                []
6  [{'country_code': 'US', 'country_name': 'Unite...                []
7  [{'country_code': 'US', 'country_name': 'Unite...                []
8  [{'country_code': 'US', 'country_name': 'Unite...                []
9  [{'country_code': 'US', 'country_name': 'Unite...                []

                                               basic  \
0  {'organization_name': '"HORMONES" ENDOCRINOLOG...
1  {'organization_name': '"LA PAZ PHARMACY INC"',...
2  {'organization_name': '1 CARDIOVASCULAR DIAGNO...
3  {'organization_name': '100 PORCIENTO BIENESTAR...
4  {'organization_name': '20/20 EYE VISION', 'org...
5  {'organization_name': '20/20 OPTICAL, JEIRA IN...
6  {'organization_name': '20/20 OPTICAL, JEIRA IN...
7  {'organization_name': '20/20 OPTICAL,JEIRA INC...
8  {'organization_name': '20/20 VISION', 'organiz...
9  {'organization_name': '24-7 MEDICAL TRANSPORT ...

                                          taxonomies identifiers endpoints  \
0  [{'code': '261QM2500X', 'taxonomy_group': '', ...          []        []
1  [{'code': '183500000X', 'taxonomy_group': '193...          []        []
2  [{'code': '291U00000X', 'taxonomy_group': '', ...          []        []
3  [{'code': '133N00000X', 'taxonomy_group': '193...          []        []
4  [{'code': '332H00000X', 'taxonomy_group': '', ...          []        []
5  [{'code': '152W00000X', 'taxonomy_group': '193...          []        []
6  [{'code': '152W00000X', 'taxonomy_group': '193...          []        []
7  [{'code': '152W00000X', 'taxonomy_group': '193...          []        []
8  [{'code': '332H00000X', 'taxonomy_group': '', ...          []        []
9  [{'code': '3416L0300X', 'taxonomy_group': '', ...          []        []

                                         other_names
0                                                 []
1                                                 []
2                                                 []
3                                                 []
4                                                 []
5  [{'organization_name': '20-20 OPTICAL JEIRA IN...
6  [{'organization_name': '20-20 OPTICAL JEIRA IN...
7                                                 []
8                                                 []
9                                                 []

In [119]:
df

,created_epoch,enumeration_type,last_updated_epoch,number,addresses,practiceLocations,basic,taxonomies,identifiers,endpoints,other_names
0,1466646913000,NPI-2,1466646913000,1518318344,"[{'country_code': 'US', 'country_name': 'Unite...",[],"{'organization_name': '""HORMONES"" ENDOCRINOLOG...","[{'code': '261QM2500X', 'taxonomy_group': '', ...",[],[],[]
1,1244728890000,NPI-2,1244728890000,1598992042,"[{'country_code': 'US', 'country_name': 'Unite...",[],"{'organization_name': '""LA PAZ PHARMACY INC""',...","[{'code': '183500000X', 'taxonomy_group': '193...",[],[],[]
2,1300984979000,NPI-2,1300984979000,1457650855,"[{'country_code': 'US', 'country_name': 'Unite...",[],{'organization_name': '1 CARDIOVASCULAR DIAGNO...,"[{'code': '291U00000X', 'taxonomy_group': '', ...",[],[],[]
3,1672349331000,NPI-2,1672349331000,1801509369,"[{'country_code': 'US', 'country_name': 'Unite...",[],{'organization_name': '100 PORCIENTO BIENESTAR...,"[{'code': '133N00000X', 'taxonomy_group': '193...",[],[],[]
4,1271175888000,NPI-2,1271175888000,1255657458,"[{'country_code': 'US', 'country_name': 'Unite...",[],"{'organization_name': '20/20 EYE VISION', 'org...","[{'code': '332H00000X', 'taxonomy_group': '', ...",[],[],[]
5,1594993207000,NPI-2,1594993207000,1376151167,"[{'country_code': 'US', 'country_name': 'Unite...",[],"{'organization_name': '20/20 OPTICAL, JEIRA IN...","[{'code': '152W00000X', 'taxonomy_group': '193...",[],[],[{'organization_name': '20-20 OPTICAL JEIRA IN...
6,1659363852000,NPI-2,1659363852000,1043946023,"[{'country_code': 'US', 'country_name': 'Unite...",[],"{'organization_name': '20/20 OPTICAL, JEIRA IN...","[{'code': '152W00000X', 'taxonomy_group': '193...",[],[],[{'organization_name': '20-20 OPTICAL JEIRA IN...
7,1296856264000,NPI-2,1296856264000,1215233424,"[{'country_code': 'US', 'country_name': 'Unite...",[],"{'organization_name': '20/20 OPTICAL,JEIRA INC...","[{'code': '152W00000X', 'taxonomy_group': '193...",[],[],[]
8,1251299355000,NPI-2,1251299355000,1679706519,"[{'country_code': 'US', 'country_name': 'Unite...",[],"{'organization_name': '20/20 VISION', 'organiz...","[{'code': '332H00000X', 'taxonomy_group': '', ...",[],[],[]
9,1252936362000,NPI-2,1252936362000,1164755898,"[{'country_code': 'US', 'country_name': 'Unite...",[],{'organization_name': '24-7 MEDICAL TRANSPORT ...,"[{'code': '3416L0300X', 'taxonomy_group': '', ...",[],[],[]

{'Content-Type': 'application/json', 'Content-Length': '96', 'Connection': 'keep-alive', 'Date': 'Wed, 24 Jan 2024 22:59:09 GMT', 'Cache-Control': 'no-cache, no-store, must-revalidate', 'Pragma': 'no-cache', 'Expires': 'Thu, 01 Jan 1970 00:00:00 GMT', 'X-Cache': 'Miss from cloudfront', 'Via': '1.1 c7fba59f51c522169e5b1f2507f356ea.cloudfront.net (CloudFront)', 'X-Amz-Cf-Pop': 'ATL56-C1', 'Alt-Svc': 'h3=":443"; ma=86400', 'X-Amz-Cf-Id': 'aHZCPGFticr08Tf4DxDLQVa6MxsQnLfQZ4JezQD8aVgWRn2axoEaMw==', 'X-XSS-Protection': '1; mode=block', 'X-Frame-Options': 'SAMEORIGIN', 'Referrer-Policy': 'same-origin', 'Content-Security-Policy': "default-src 'self' data:; script-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline'; img-src 'self' data:;", 'X-Content-Type-Options': 'nosniff', 'Strict-Transport-Security': 'max-age=31536000; includeSubDomains; preload'}

In [44]:
info = nppes.json()

In [41]:
info

{'Errors': [{'description': 'No valid search criteria provided',
   'field': 'generic',
   'number': '04'}]}

In [46]:
import pandas as pd
df = pd.DataFrame(nppes)
df

                                                   0
0  b'{"Errors":[{"description":"No valid search c...

In [47]:
df.head()

                                                   0
0  b'{"Errors":[{"description":"No valid search c...