# Pueblos de Puerto Rico

In [7]:
import pandas as pd
import yaml

### This excel include a division of regions of Puerto Rico by government classification

In [8]:
pueblos = pd.read_excel(r"C:\Users\verus\OneDrive\Documents\GitHub\IronHack\provider_project\data\pueblos.xlsx")

In [9]:
with open('config.yaml', 'w') as file:
    pass

In [10]:
pueblos

    PUEBLO_ID        PUEBLO  REGION
0           1      ADJUNTAS  CENTRO
1           2        AGUADA   OESTE
2           3     AGUADILLA   OESTE
3           4  AGUAS BUENAS   METRO
4           5      AIBONITO  CENTRO
..        ...           ...     ...
73         74     VEGA BAJA   NORTE
74         75       VIEQUES    ESTE
75         76      VILLALBA     SUR
76         77       YABUCOA    ESTE
77         78         YAUCO   OESTE

[78 rows x 3 columns]

## Saving & Exporting

In [12]:
pueblos.to_csv(r'C:\Users\verus\OneDrive\Documents\GitHub\IronHack\provider_project\data\clean\pueblos.csv', index=False)

In [13]:
import pymysql
from sqlalchemy import create_engine
import getpass  # To get the password without showing the input
password = getpass.getpass()

········

In [14]:
bd = "central_provider"
connection_string = 'mysql+pymysql://root:' + password + '@localhost/'+bd
engine = create_engine(connection_string)
engine

Engine(mysql+pymysql://root:***@localhost/central_provider)

In [15]:
pueblos.to_sql('pueblos', con=engine.connect(),if_exists='replace',index=False)

78